{% extends 'cliente/base.html' %}
{% load bootstrap4 %}

{% block title %} Clientes {% endblock %}

{% block content %}
<h3>Lista de Clientes</h3><br>
<div class="container">
    <table class="table text-center">
        <thead>
            <th scope="col">Nome</th>
            <th scope="col">Bairro</th>
            <th scope="col">Email</th>
            <th scope="col">Telefone</th>
        </thead>
        <tbody>
            {% for clientes in cliente %}
            <tr>
                <td>{{ clientes.nome }}</td>
                <td>{{ clientes.bairro }}</td>
                <td>{{ clientes.email }}</td>
                <td>{{ clientes.telefone }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}