{% extends 'cliente/base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block title %} {% endblock %}

{% block content %}
<h3>Lista de orçamentos</h3><br/>
    <table class="table text-center">
        <thead class="">
            <th scope="col">Ambiente</th>
            <th scope="col">Local</th>
            <th scope="col">Descrição</th>
            <th scope="col">Imagem</th>
            <th>Ações</th>
            <th><a href="{% url 'new_orc_cftv' %}"><span class="badge badge-success text-center">Novo</span></a></th>
        </thead>
        <tbody>
            {% for orcamento in orcamentos %}
              <tr>
                <td>{{ orcamento.ambiente }}</td>
                <td>{{ orcamento.local }}</td>
                <td>{{ orcamento.descricao }}</td>
                <td><img class="img-fluid" src="{{ orcamento.imagem.url }}" alt=" " height="100"></td>
                <td><a href="{% url 'detail_orcamento' orcamento.id %}"><span class="badge badge-warning">Detalhes</span></a></td>
                <td><a href="{% url 'delete_orc_cftv' orcamento.id %}"><span class="badge badge-danger">Apagar</span></a></td>
             </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}